In [160]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)#показывать все столбцы

In [161]:
df=pd.read_csv("/Users/ser/ds_bootcamp/rent_real_estate/notebooks/data/data_new.csv")
df.head(3)

,ID,Parking,Apartment_renovation,Windows,Quantity_of_rooms,Distance_min,Area_sm,Cost_per_month,Is_included_utility_charges,Lease_term,Elevator_total,With_children,With_pets,WashingRoom_total,Loggia_and_Balcony
0,271271157,подземная,Дизайнерский,NaN,4.0,9.0,200.0,500000.0,1,Срок аренды - Длительный,5.0,1.0,1.0,NaN,NaN
1,271634126,подземная,Дизайнерский,На улицу и двор,4.0,8.0,198.0,500000.0,1,Срок аренды - Длительный,2.0,1.0,0.0,3.0,NaN
2,271173086,подземная,Евроремонт,На улицу и двор,4.0,7.0,200.0,500000.0,0,NaN,1.0,1.0,0.0,3.0,NaN

Производим анализ процентного содержания пропущенных значений (NaN) в столбцах

In [169]:
for el in df.columns:
    if df[el].isna().sum()>0:
        print(f"'{el}' - cодержит - {df[el].isna().sum()} NaN. Процент от общего числа от общего числа значений - {(100*df[el].isna().sum()/len(df[el])):.2f} %")

1. 'Parking': В данном столбце мы наблюдаем, что более 56.61% значений являются неопределенными. В связи с этим можно сделать вывод о нецелесообразности заполнения пропусков, так как это может исказить истинные данные и повлиять на надежность анализа.

In [163]:
df=df.drop('Parking',axis=1)

2. Apartment_renovation. Для начала было решено добавить колонку стоимость квадратного метра.

In [164]:
df['Price_per_square_meter'] = (df['Cost_per_month'] / df['Area_sm']).round(2)

3. Заполнение значений в столбцах Elevator_total и Distance_min медианой помогает сохранить качество данных. Медиана меньше подвержена влиянию выбросов, поэтому она лучше отражает типичные значения. Это важно, чтобы избежать искажений, которые могут возникнуть при использовании средних значений. Заполняя пропуски медианой, мы получаем более точное представление о данных и улучшаем их анализ.

In [165]:
df['Elevator_total'].fillna(df['Elevator_total'].median(), inplace=True)
df['Distance_min'].fillna(df['Distance_min'].median(), inplace=True)
print("Обновленный DataFrame:")
df

Обновленный DataFrame:

/var/folders/mp/h_m6sr_x5v556p24y_yw15nm0000gn/T/ipykernel_70601/877311360.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Elevator_total'].fillna(df['Elevator_total'].median(), inplace=True)
/var/folders/mp/h_m6sr_x5v556p24y_yw15nm0000gn/T/ipykernel_70601/877311360.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Distance_min'].fillna(df['Distance_min'].median(), inplace=True)

,ID,Apartment_renovation,Windows,Quantity_of_rooms,Distance_min,Area_sm,Cost_per_month,Is_included_utility_charges,Lease_term,Elevator_total,With_children,With_pets,WashingRoom_total,Loggia_and_Balcony,Price_per_square_meter
0,271271157,Дизайнерский,NaN,4.0,9.0,200.0,500000.0,1,Срок аренды - Длительный,5.0,1.0,1.0,NaN,NaN,2500.00
1,271634126,Дизайнерский,На улицу и двор,4.0,8.0,198.0,500000.0,1,Срок аренды - Длительный,2.0,1.0,0.0,3.0,NaN,2525.25
2,271173086,Евроремонт,На улицу и двор,4.0,7.0,200.0,500000.0,0,NaN,1.0,1.0,0.0,3.0,NaN,2500.00
3,272197456,Евроремонт,На улицу и двор,4.0,3.0,170.0,400000.0,0,NaN,1.0,0.0,1.0,3.0,NaN,2352.94
4,273614615,Евроремонт,На улицу и двор,2.0,7.0,58.0,225000.0,1,Срок аренды - Длительный,2.0,NaN,NaN,2.0,NaN,3879.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19732,215565511,Евроремонт,NaN,NaN,8.0,35.0,42000.0,1,Срок аренды - Длительный,2.0,NaN,NaN,1.0,1.0,1200.00
19733,274654844,Евроремонт,Во двор,1.0,7.0,38.7,45000.0,1,Срок аренды - Длительный,2.0,NaN,NaN,1.0,1.0,1162.79
19734,268679909,Дизайнерский,На улицу и двор,2.0,6.0,43.1,50000.0,1,Срок аренды - Длительный,2.0,1.0,0.0,1.0,1.0,1160.09
19735,274807525,Евроремонт,Во двор,2.0,11.0,52.5,55000.0,1,Срок аренды - Длительный,3.0,NaN,NaN,2.0,1.0,1047.62
19736,274672243,Косметический,Во двор,2.0,10.0,90.0,57000.0,1,Срок аренды - Длительный,3.0,1.0,1.0,1.0,1.0,633.33

4. Отсутствующие значения в столбцах, отражающих наличие детей и животных, заполняются нулями. Это основано на предположении, что если бы информация о наличии детей или домашних животных была актуальной для квартиры, она была бы явно указана. Таким образом, значение "0" представляет собой отсутствие этих характеристик, что помогает упростить анализ и интерпретацию данных, не вводя при этом дополнительных искажений.

In [166]:
df['With_children'].fillna(0, inplace=True)
df['With_pets'].fillna(0, inplace=True)
print("Обновленный DataFrame:")
print(df)

Обновленный DataFrame:
              ID Apartment_renovation          Windows  Quantity_of_rooms  \
0      271271157         Дизайнерский              NaN                4.0
1      271634126         Дизайнерский  На улицу и двор                4.0
2      271173086           Евроремонт  На улицу и двор                4.0
3      272197456           Евроремонт  На улицу и двор                4.0
4      273614615           Евроремонт  На улицу и двор                2.0
...          ...                  ...              ...                ...
19732  215565511           Евроремонт              NaN                NaN
19733  274654844           Евроремонт          Во двор                1.0
19734  268679909         Дизайнерский  На улицу и двор                2.0
19735  274807525           Евроремонт          Во двор                2.0
19736  274672243        Косметический          Во двор                2.0

       Distance_min  Area_sm  Cost_per_month  Is_included_utility_charges  \
0               9.0    200.0        500000.0                            1
1               8.0    198.0        500000.0                            1
2               7.0    200.0        500000.0                            0
3               3.0    170.0        400000.0                            0
4               7.0     58.0        225000.0                            1
...             ...      ...             ...                          ...
19732           8.0     35.0         42000.0                            1
19733           7.0     38.7         45000.0                            1
19734           6.0     43.1         50000.0                            1
19735          11.0     52.5         55000.0                            1
19736          10.0     90.0         57000.0                            1

                     Lease_term  Elevator_total  With_children  With_pets  \
0      Срок аренды - Длительный             5.0            1.0        1.0
1      Срок аренды - Длительный             2.0            1.0        0.0
2                           NaN             1.0            1.0        0.0
3                           NaN             1.0            0.0        1.0
4      Срок аренды - Длительный             2.0            0.0        0.0
...                         ...             ...            ...        ...
19732  Срок аренды - Длительный             2.0            0.0        0.0
19733  Срок аренды - Длительный             2.0            0.0        0.0
19734  Срок аренды - Длительный             2.0            1.0        0.0
19735  Срок аренды - Длительный             3.0            0.0        0.0
19736  Срок аренды - Длительный             3.0            1.0        1.0

       WashingRoom_total  Loggia_and_Balcony  Price_per_square_meter
0                    NaN                 NaN                 2500.00
1                    3.0                 NaN                 2525.25
2                    3.0                 NaN                 2500.00
3                    3.0                 NaN                 2352.94
4                    2.0                 NaN                 3879.31
...                  ...                 ...                     ...
19732                1.0                 1.0                 1200.00
19733                1.0                 1.0                 1162.79
19734                1.0                 1.0                 1160.09
19735                2.0                 1.0                 1047.62
19736                1.0                 1.0                  633.33

[19737 rows x 15 columns]

/var/folders/mp/h_m6sr_x5v556p24y_yw15nm0000gn/T/ipykernel_70601/1291623356.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['With_children'].fillna(0, inplace=True)
/var/folders/mp/h_m6sr_x5v556p24y_yw15nm0000gn/T/ipykernel_70601/1291623356.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['With_pets'].fillna(0, inplace=True)

4. Мы применили функцию fill_missing_values_by_median для заполнения пропусков в различных столбцах DataFrame, используя медианные значения из других столбцов.

Количество комнат (Quantity_of_rooms): Заполнили пропуски на основе медианной площади квартиры (Area_sm). Это позволяет учесть, что размер квартиры часто коррелирует с количеством комнат.
Количество санузлов (WashingRoom_total): Заполнили значения на основе количества комнат, предполагая, что большее количество комнат обычно связано с большим числом санузлов.
Количество балконов (Loggia_and_Balcony): Аналогично, пропуски заполнялись на основе количества комнат, что помогает сохранить логику распределения данных.
Состояние ремонта (Apartment_renovation): Здесь мы заполнили пропуски на основе цены за квадратный метр (Price_per_square_meter), поскольку стоимость может отражать состояние квартиры.
Срок аренды (Lease_term): Пропуски были заполнены также на основе цены за квадратный метр, чтобы учесть зависимость между арендной стоимостью и сроком аренды.
Окна (Windows): Указание произвольных значений могло бы вводить в заблуждение, так как реальная информация о состоянии окон неизвестна. Использование "Нет информации" позволяет точно отразить отсутствие данных, сохраняя целостность анализа и позволяя избежать ложных выводов.

In [167]:
def fill_missing_values_by_median(df, group_col, value_col):
    """
    Функция для заполнения пропусков в столбце group_col на основе медианы столбца value_col.
    """
    table_quantity = df.groupby(group_col).agg(Med_value=(value_col, 'median')).reset_index()
    df_filtered = df[df[group_col].isna()]

    for idx, row in df_filtered.iterrows():
        add_value = row[value_col]
        table_quantity['delta'] = abs(add_value - table_quantity['Med_value'])
        closest_group_value = table_quantity.loc[table_quantity['delta'].idxmin(), group_col]
        df.at[idx, group_col] = closest_group_value

    return df



df = fill_missing_values_by_median(df, 'Quantity_of_rooms', 'Area_sm')
df = fill_missing_values_by_median(df, 'WashingRoom_total', 'Quantity_of_rooms')
df = fill_missing_values_by_median(df, 'Loggia_and_Balcony', 'Quantity_of_rooms')
df = fill_missing_values_by_median(df, 'Apartment_renovation', 'Price_per_square_meter') 
df = fill_missing_values_by_median(df, 'Lease_term', 'Price_per_square_meter') 
df['Windows'].fillna("Нет информации", inplace=True)

print("Обновленный DataFrame:")
df

Обновленный DataFrame:

/var/folders/mp/h_m6sr_x5v556p24y_yw15nm0000gn/T/ipykernel_70601/4084274088.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Windows'].fillna("Нет информации", inplace=True)

,ID,Apartment_renovation,Windows,Quantity_of_rooms,Distance_min,Area_sm,Cost_per_month,Is_included_utility_charges,Lease_term,Elevator_total,With_children,With_pets,WashingRoom_total,Loggia_and_Balcony,Price_per_square_meter
0,271271157,Дизайнерский,Нет информации,4.0,9.0,200.0,500000.0,1,Срок аренды - Длительный,5.0,1.0,1.0,3.0,4.0,2500.00
1,271634126,Дизайнерский,На улицу и двор,4.0,8.0,198.0,500000.0,1,Срок аренды - Длительный,2.0,1.0,0.0,3.0,4.0,2525.25
2,271173086,Евроремонт,На улицу и двор,4.0,7.0,200.0,500000.0,0,Срок аренды - На несколько месяцев,1.0,1.0,0.0,3.0,4.0,2500.00
3,272197456,Евроремонт,На улицу и двор,4.0,3.0,170.0,400000.0,0,Срок аренды - На несколько месяцев,1.0,0.0,1.0,3.0,4.0,2352.94
4,273614615,Евроремонт,На улицу и двор,2.0,7.0,58.0,225000.0,1,Срок аренды - Длительный,2.0,0.0,0.0,2.0,1.0,3879.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19732,215565511,Евроремонт,Нет информации,1.0,8.0,35.0,42000.0,1,Срок аренды - Длительный,2.0,0.0,0.0,1.0,1.0,1200.00
19733,274654844,Евроремонт,Во двор,1.0,7.0,38.7,45000.0,1,Срок аренды - Длительный,2.0,0.0,0.0,1.0,1.0,1162.79
19734,268679909,Дизайнерский,На улицу и двор,2.0,6.0,43.1,50000.0,1,Срок аренды - Длительный,2.0,1.0,0.0,1.0,1.0,1160.09
19735,274807525,Евроремонт,Во двор,2.0,11.0,52.5,55000.0,1,Срок аренды - Длительный,3.0,0.0,0.0,2.0,1.0,1047.62
19736,274672243,Косметический,Во двор,2.0,10.0,90.0,57000.0,1,Срок аренды - Длительный,3.0,1.0,1.0,1.0,1.0,633.33

Теперь мы можем снова запустить проверку, чтобы убедиться, что в нашем DataFrame действительно не осталось столбцов с пропущенными значениями. Это позволит подтвердить успешность проведенной обработки данных и подготовленность их для дальнейшего анализа.

In [170]:
for el in df.columns:
    if df[el].isna().sum()>0:
        print(f"'{el}' - cодержит - {df[el].isna().sum()} NaN. Процент от общего числа от общего числа значений - {(100*df[el].isna().sum()/len(df[el])):.2f} %")

Как видно, в нашем DataFrame больше нет столбцов с пропущенными значениями (NaN). Это достижение свидетельствует о проведенной тщательной обработке данных, что позволяет нам уверенно продолжать анализ и извлекать ценные инсайты без риска искажений, связанных с отсутствующими значениями.

In [173]:
df.to_csv("data.csv", index=False, encoding='utf-8')

При извлечении файла data.csv мы тщательно проверили его на соответствие заданным критериям. Все названия колонок представлены на английском языке и оформлены в формате с использованием нижнего подчеркивания, что обеспечивает единообразие и удобство работы с данными. Кроме того, в каждой колонке отсутствуют пропущенные значения (NaN, None и т.д.), что подтверждает полную целостность и готовность данных к дальнейшему анализу. Таким образом, файл успешно отвечает всем предъявленным требованиям, позволяя уверенно использовать его в последующих этапах работы.